[Unit]
Description=My Docker Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a dcist-jackal-base
ExecStop=/usr/bin/docker stop dcist-jackal-base

[Install]
WantedBy=multi-user.target
